.table.no-border td {
    border: none;
}

.table.vertical-center td {
    vertical-align: middle;
}

.table th.spaced {
    padding-top: 1.5em;
}

.not-hoverable:hover {
    background-color: transparent !important;
}

.DayPickerInput-Overlay, .DayPicker-Day {
    border-radius: 4px !important;
}

.firebaseui-idp-anonymous.firebaseui-id-idp-button {
    margin-top: 15px;
}